{% extends "index.html" %}
{% block head %}
    <link rel="stylesheet" href="{% static 'highlight/github-dark.min.css' %}">
    <script src="{% static 'highlight/highlight.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="p-7 rounded" style="color:#bcb9b9;background-color: #191818;min-height: 40vh;margin-bottom: 3vh">
        <div class="py2"
             style="background-color: #191818;min-height: 66vh;font-family: Consolas,sans-serif;font-size: 20px;">
            {{ gen_text|safe }}
        </div>

    </div>
    <form method="post">
        {% csrf_token %}
        <textarea id="prompt" name="prompt" type="text" class="form-control scroll"
                  onkeydown="submitEnter(event, this.form)"
                  style="overflow: hidden;max-height:10vh;font-family: Consolas,sans-serif;font-size: 20px;background-color: #191818;color: #e6f0fd;border-color: #0a58ca!important;">{{ prompt }}</textarea>
    </form>
    <form method="post" enctype="multipart/form-data" style="margin-top: 10px">
        {% csrf_token %}
        <div class="input-group" style="display: flex;justify-content: flex-end;">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                   aria-label="Upload" name="file">
            <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">提 交</button>
        </div>
    </form>
    <div class="text-white form-label" style="margin-top: 5vh;text-align: center">
            <!-- Button trigger modal -->
            <button id="submit_code" type="button" class="btn btn-success btn-lg" style="margin-right: 1vw;">分析</button>
            <button type="submit" class="btn btn-danger btn-lg">知识向量库存储</button>
            <button id="check" type="submit" class="btn btn-primary btn-lg" style="margin-left: 1vw">复习</button>
    </div>
    <script>

        function submitEnter(event, form) {
            if (event.key === "Enter") {
                event.preventDefault();
                form.submit();
            }
        }

        hljs.highlightAll();
    </script>
    <script>

        function submitEnter(event, form) {
            if (event.key === "Enter") {
                event.preventDefault();
                form.submit();
            }
        }

        hljs.highlightAll();
    </script>

{% endblock %}

