<!DOCTYPE html>
<html lang="zh-hans" dir="ltr" data-theme="light" style="">
<head>
    <link rel="stylesheet" href="/static/admin/css/base.css">

    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
    <script src="/static/admin/js/theme.js"></script>


    <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer=""></script>

    <link rel="stylesheet" href="/static/admin/css/forms.css">

    <link href="/static/mdeditor/css/editormd.css" media="all" rel="stylesheet">
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/mdeditor/js/jquery.min.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <script src="/static/mdeditor/js/editormd.min.js"></script>
    <script src="/static/admin/js/core.js"></script>
    <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script src="/static/admin/js/actions.js"></script>
    <script src="/static/admin/js/urlify.js"></script>
    <script src="/static/admin/js/prepopulate.js"></script>
    <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">

    <meta name="robots" content="NONE,NOARCHIVE">
    <link type="text/css" rel="stylesheet" href="/static/mdeditor/js/lib/codemirror/codemirror.min.css">
    <link type="text/css" rel="stylesheet" href="/static/mdeditor/js/lib/codemirror/addon/dialog/dialog.css">
    <link type="text/css" rel="stylesheet"
          href="/static/mdeditor/js/lib/codemirror/addon/search/matchesonscrollbar.css">
    <script id="-static-mdeditor-js-lib-codemirror-codemirror-min" type="text/javascript"
            src="/static/mdeditor/js/lib/codemirror/codemirror.min.js"></script>
    <script id="-static-mdeditor-js-lib-codemirror-modes-min" type="text/javascript"
            src="/static/mdeditor/js/lib/codemirror/modes.min.js"></script>
    <script id="-static-mdeditor-js-lib-codemirror-addons-min" type="text/javascript"
            src="/static/mdeditor/js/lib/codemirror/addons.min.js"></script>
    <script id="-static-mdeditor-js-lib-marked-min" type="text/javascript"
            src="/static/mdeditor/js/lib/marked.min.js"></script>
    <script id="-static-mdeditor-js-lib-prettify-min" type="text/javascript"
            src="/static/mdeditor/js/lib/prettify.min.js"></script>
    <script id="-static-mdeditor-js-lib-raphael-min" type="text/javascript"
            src="/static/mdeditor/js/lib/raphael.min.js"></script>
    <script id="-static-mdeditor-js-lib-underscore-min" type="text/javascript"
            src="/static/mdeditor/js/lib/underscore.min.js"></script>
    <script id="-static-mdeditor-js-lib-flowchart-min" type="text/javascript"
            src="/static/mdeditor/js/lib/flowchart.min.js"></script>
    <script id="-static-mdeditor-js-lib-jquery-flowchart-min" type="text/javascript"
            src="/static/mdeditor/js/lib/jquery.flowchart.min.js"></script>
    <script id="-static-mdeditor-js-lib-sequence-diagram-min" type="text/javascript"
            src="/static/mdeditor/js/lib/sequence-diagram.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
    <script id="-cdnjs-cloudflare-com-ajax-libs-KaTeX-0-3-0-katex-min" type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
    <title>Edit_Note</title>
</head>

<body>
{#上 右 下 左#}
<div style="margin: 0px 100px 0px 100px">


    <div id="container">
        <div class="main shifted" id="main">
            <main id="content-start" class="content" tabindex="-1">
                <div id="content" class="colM">
                    <div id="content-main">
                        <form method="post">
                            <div>
                                <fieldset class="module aligned ">
                                    <div class="form-row field-content">
                                        <div>
                                            <div class="flex-container">
                                                <style type="text/css">
                                                    .wmd-wrapper ul {
                                                        margin-left: 0px !important;
                                                    }

                                                    .wmd-wrapper ul li {
                                                        list-style: disc !important;
                                                    }

                                                    .wmd-wrapper ul ul li {
                                                        list-style: circle !important;
                                                    }

                                                    .wmd-wrapper h1,
                                                    .wmd-wrapper h2,
                                                    .wmd-wrapper h3,
                                                    .wmd-wrapper h4,
                                                    .wmd-wrapper h5,
                                                    .wmd-wrapper h6 {
                                                        background: #ffffff !important;
                                                        color: #000000 !important;
                                                    }

                                                    .wmd-wrapper h2,
                                                    .wmd-wrapper h3,
                                                    .wmd-wrapper h4 {
                                                        padding: 0px !important;
                                                    }

                                                    .wmd-wrapper h5 {
                                                        letter-spacing: 0px !important;
                                                        text-transform: none !important;
                                                        font-size: 1em !important;
                                                    }

                                                    .wmd-wrapper h6 {
                                                        font-size: 1em !important;
                                                        color: #777 !important;
                                                    }
                                                </style>

                                                <div class="wmd-wrapper editormd editormd-vertical editormd-theme-default"
                                                     id="id_content-wmd-wrapper"
                                                     style="width: 1349px; height: 500px; border-radius: 0px; z-index: 10; border: 1px solid rgb(221, 221, 221);">
                                                    {#                     @linhaifeng:此处表示输入的内容     #}
                                                    <textarea cols="40" id="id_content" name="content" rows="20"
                                                              required="" class="editormd-markdown-textarea"
                                                              placeholder="" style="display: none;"></textarea>
                                                    <div class="CodeMirror cm-s-default"
                                                         style="font-size: 13px; width: 161px; margin-top: 192px; height: 309px; border-right: 1px solid rgb(221, 221, 221);">
                                                        <div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 4px; left: 13px;">
                                                            <textarea autocorrect="off" autocapitalize="off"
                                                                      spellcheck="false"
                                                                      style="position: absolute; padding: 0px; width: 1000px; height: 1em; outline: none;"
                                                                      tabindex="0"></textarea></div>
                                                        <div class="CodeMirror-vscrollbar" cm-not-content="true">
                                                            <div style="min-width: 1px; height: 0px;"></div>
                                                        </div>
                                                        <div class="CodeMirror-hscrollbar" cm-not-content="true"
                                                             style="right: 0px; left: 0px; display: block;">
                                                            <div style="height: 100%; min-height: 1px; width: 185px;"></div>
                                                        </div>
                                                        <div class="CodeMirror-scrollbar-filler"
                                                             cm-not-content="true"></div>
                                                        <div class="CodeMirror-gutter-filler"
                                                             cm-not-content="true"></div>
                                                        <div class="CodeMirror-scroll" tabindex="-1">
                                                            <div class="CodeMirror-sizer"
                                                                 style="margin-left: 1px; margin-bottom: -7px; border-right-width: 23px; min-width: 184.344px; min-height: 120px; padding-right: 0px; padding-bottom: 7px;">
                                                                <div style="position: relative; top: 0px;">
                                                                    <div class="CodeMirror-lines">
                                                                        <div style="position: relative; outline: none;">
                                                                            <div class="CodeMirror-measure">AخA</div>
                                                                            <div class="CodeMirror-measure"></div>
                                                                            <div style="position: relative; z-index: 1;"></div>
                                                                            <div class="CodeMirror-cursors" style="">
                                                                                <div class="CodeMirror-cursor"
                                                                                     style="left: 12px; top: 0px; height: 22.3906px;">
                                                                                    &nbsp;
                                                                                </div>
                                                                            </div>
                                                                            <div class="CodeMirror-code" style="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="position: absolute; height: 23px; width: 1px; top: 127px;"></div>
                                                            <div class="CodeMirror-gutters"
                                                                 style="height: 329px; border-right: none;">
                                                                <div class="CodeMirror-gutter CodeMirror-foldgutter"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="javascript:;"
                                                       class="fa fa-close editormd-preview-close-btn"
                                                       style="display: none;"></a>
                                                    <textarea class="editormd-html-textarea"
                                                              name="id_content-wmd-wrapper-html-code">
                                                </textarea>
                                                    <div class="editormd-preview editormd-preview-theme-default"
                                                         style="display: block; width: 160px; top: 192px; height: 309px; position: absolute;">
                                                        <div class="markdown-body editormd-preview-container"
                                                             previewcontainer="true" style="padding: 20px;">

                                                        </div>
                                                    </div>
                                                    <div class="editormd-container-mask" style="display: none;"></div>
                                                    <div class="editormd-mask"></div>
                                                    <div class="editormd-toolbar" style="display: block;">
                                                        <div class="editormd-toolbar-container">
                                                            <ul class="editormd-menu">
                                                                <li class="pull-right"><a href="javascript:;"
                                                                                          title="全屏（按ESC还原）"
                                                                                          unselectable="on" class=""><i
                                                                        class="fa fa-arrows-alt" name="fullscreen"
                                                                        unselectable="on"></i></a></li>
                                                                <li class="pull-right"><a href="javascript:;"
                                                                                          title="关闭实时预览"
                                                                                          unselectable="on"><i
                                                                        class="fa fa-eye-slash" name="watch"
                                                                        unselectable="on"></i></a></li>
                                                                <li class="pull-right"><a href="javascript:;"
                                                                                          title="全窗口预览HTML（按 Shift + ESC还原）"
                                                                                          unselectable="on"><i
                                                                        class="fa fa-desktop active" name="preview"
                                                                        unselectable="on"></i></a></li>
                                                                <li><a href="javascript:;" title="撤销（Ctrl+Z）"
                                                                       unselectable="on"><i class="fa fa-undo"
                                                                                            name="undo"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="重做（Ctrl+Y）"
                                                                       unselectable="on"><i class="fa fa-repeat"
                                                                                            name="redo"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li class="divider" unselectable="on">|</li>
                                                                <li><a href="javascript:;" title="粗体"
                                                                       unselectable="on"><i
                                                                        class="fa fa-bold" name="bold"
                                                                        unselectable="on"></i></a></li>
                                                                <li><a href="javascript:;" title="删除线"
                                                                       unselectable="on"><i
                                                                        class="fa fa-strikethrough" name="del"
                                                                        unselectable="on"></i></a></li>
                                                                <li><a href="javascript:;" title="斜体"
                                                                       unselectable="on"><i
                                                                        class="fa fa-italic" name="italic"
                                                                        unselectable="on"></i></a></li>
                                                                <li><a href="javascript:;" title="引用"
                                                                       unselectable="on"><i
                                                                        class="fa fa-quote-left" name="quote"
                                                                        unselectable="on"></i></a></li>
                                                                <li><a href="javascript:;"
                                                                       title="将每个单词首字母转成大写"
                                                                       unselectable="on"><i class="fa" name="ucwords"
                                                                                            style="font-size:20px;margin-top: -3px;">Aa</i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="将所选转换成大写"
                                                                       unselectable="on"><i class="fa fa-font"
                                                                                            name="uppercase"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="将所选转换成小写"
                                                                       unselectable="on"><i class="fa" name="lowercase"
                                                                                            style="font-size:24px;margin-top: -10px;">a</i></a>
                                                                </li>
                                                                <li class="divider" unselectable="on">|</li>
                                                                <li><a href="javascript:;" title="标题1"
                                                                       unselectable="on"><i class="fa editormd-bold"
                                                                                            name="h1"
                                                                                            unselectable="on">H1</i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="标题2"
                                                                       unselectable="on"><i class="fa editormd-bold"
                                                                                            name="h2"
                                                                                            unselectable="on">H2</i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="标题3"
                                                                       unselectable="on"><i class="fa editormd-bold"
                                                                                            name="h3"
                                                                                            unselectable="on">H3</i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="标题5"
                                                                       unselectable="on"><i class="fa editormd-bold"
                                                                                            name="h5"
                                                                                            unselectable="on">H5</i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="标题6"
                                                                       unselectable="on"><i class="fa editormd-bold"
                                                                                            name="h6"
                                                                                            unselectable="on">H6</i></a>
                                                                </li>
                                                                <li class="divider" unselectable="on">|</li>
                                                                <li><a href="javascript:;" title="无序列表"
                                                                       unselectable="on"><i class="fa fa-list-ul"
                                                                                            name="list-ul"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="有序列表"
                                                                       unselectable="on"><i class="fa fa-list-ol"
                                                                                            name="list-ol"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="横线"
                                                                       unselectable="on"><i
                                                                        class="fa fa-minus" name="hr"
                                                                        unselectable="on"></i></a>
                                                                </li>
                                                                <li class="divider" unselectable="on">|</li>
                                                                <li><a href="javascript:;" title="链接"
                                                                       unselectable="on"><i
                                                                        class="fa fa-link" name="link"
                                                                        unselectable="on"></i></a></li>
                                                                <li><a href="javascript:;" title="引用链接"
                                                                       unselectable="on"><i class="fa fa-anchor"
                                                                                            name="reference-link"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="添加图片"
                                                                       unselectable="on"><i class="fa fa-picture-o"
                                                                                            name="image"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="行内代码"
                                                                       unselectable="on"><i class="fa fa-code"
                                                                                            name="code"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;"
                                                                       title="预格式文本 / 代码块（缩进风格）"
                                                                       unselectable="on"><i class="fa fa-file-code-o"
                                                                                            name="preformatted-text"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="代码块（多语言风格）"
                                                                       unselectable="on"><i class="fa fa-file-code-o"
                                                                                            name="code-block"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="添加表格"
                                                                       unselectable="on"><i class="fa fa-table"
                                                                                            name="table"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="日期时间"
                                                                       unselectable="on"><i class="fa fa-clock-o"
                                                                                            name="datetime"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="Emoji表情"
                                                                       unselectable="on"><i class="fa fa-smile-o"
                                                                                            name="emoji"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="HTML实体字符"
                                                                       unselectable="on"><i class="fa fa-copyright"
                                                                                            name="html-entities"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="插入分页符"
                                                                       unselectable="on"><i class="fa fa-newspaper-o"
                                                                                            name="pagebreak"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li><a href="javascript:;" title="跳转到行"
                                                                       unselectable="on"><i class="fa fa-terminal"
                                                                                            name="goto-line"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                                <li class="divider" unselectable="on">|</li>
                                                                <li><a href="javascript:;" title="使用帮助"
                                                                       unselectable="on"><i
                                                                        class="fa fa-question-circle"
                                                                        name="help"
                                                                        unselectable="on"></i></a></li>
                                                                <li><a href="javascript:;" title="关于Editor.md"
                                                                       unselectable="on"><i class="fa fa-info-circle"
                                                                                            name="info"
                                                                                            unselectable="on"></i></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script type="text/javascript">

                                                    $(function () {
                                                        editormd("id_content-wmd-wrapper", {
                                                            watch: true, // 关闭实时预览
                                                            lineNumbers: false,
                                                            lineWrapping: false,
                                                            width: "100%",
                                                            height: 500,
                                                            placeholder: '',
                                                            // 当有多个mdeditor时，全屏后，其他mdeditor仍然显示，解决此问题。
                                                            onfullscreen: function () {
                                                                this.editor.css("border-radius", 0).css("z-index", 9999);
                                                            },
                                                            onfullscreenExit: function () {
                                                                this.editor.css({
                                                                    zIndex: 10,
                                                                    border: "1px solid rgb(221,221,221)"
                                                                })
                                                            },
                                                            syncScrolling: "single",
                                                            path: "/static/mdeditor/js/lib" + "/",
                                                            // theme
                                                            theme: "default",
                                                            previewTheme: "default",
                                                            editorTheme: "default",

                                                            saveHTMLToTextarea: true, // editor.md 有问题没有测试成功
                                                            toolbarAutoFixed: true,
                                                            searchReplace: true,
                                                            emoji: true,
                                                            tex: true,
                                                            taskList: false,
                                                            flowChart: true,
                                                            sequenceDiagram: true,

                                                            // image upload
                                                            imageUpload: true,
                                                            imageFormats: ['jpg', 'JPG', 'jpeg', 'JPEG', 'gif', 'GIF', 'png', 'PNG', 'bmp', 'BMP', 'webp', 'WEBP'],
                                                            imageUploadURL: "/mdeditor/uploads/",
                                                            toolbarIcons: function () {
                                                                return ['undo', 'redo', '|', 'bold', 'del', 'italic', 'quote', 'ucwords', 'uppercase', 'lowercase', '|', 'h1', 'h2', 'h3', 'h5', 'h6', '|', 'list-ul', 'list-ol', 'hr', '|', 'link', 'reference-link', 'image', 'code', 'preformatted-text', 'code-block', 'table', 'datetime', 'emoji', 'html-entities', 'pagebreak', 'goto-line', '|', 'help', 'info', '||', 'preview', 'watch', 'fullscreen']
                                                            },
                                                            onload: function () {
                                                                console.log('onload', this);
                                                            }
                                                        });
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>

                </div>
            </main>
        </div>
    </div>
</div>

</body>
</html>