<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ignite Knowledge</title>
    <link rel="icon" href="{% static 'image/logo.png' %}" type="image/x-icon">
    {#        加载 bootstrap5的模板      #}
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{%  static 'bootstrap5/bootstrap.min.js' %}"></script>
    <script src="{%  static 'bootstrap5/popper.min.js' %}"></script>

    <link rel="stylesheet" href="{%  static 'css/main.css' %}">
    {% block style %} {%  endblock %}
    {% block head %} {% endblock %}
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="home" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"></path>
    </symbol>
</svg>
<header class="p-3 text-bg-dark border-bottom mb-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="{% static 'image/logo1.png' %}" alt="" height="40">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/main" class="nav-link px-5 text-white">&ensp; Home</a></li>
          <li><a href="#" class="nav-link px-2 text-success">Manage</a></li>
          <li><a href="#" class="nav-link px-2 text-success">AI Review</a></li>
          <li><a href="#" class="nav-link px-2 text-success">AI Explore</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-primary">sign in</button>
          <button type="button" class="btn btn-outline-primary me-2">sign up</button>
        </div>
      </div>
  </header>
{% block sidebar %}{% endblock %}
<main class="container bg-white p-3 rounded" style="width: 60vw;min-height: 80vh;">
    {% block main %}{% endblock %}
</main>
</body>
</html>