<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ignite Knowledge</title>
    <link rel="icon" href="{% static 'image/logo.png' %}" type="image/x-icon">
    {#        加载 bootstrap5的模板      #}
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block style %} {% endblock %}
    {% block head %} {% endblock %}
</head>
<body style="background-color: #1e1d1d">

<header class="mb-3 p-2 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/logo1.png' %}" alt="" height="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="font-family: Consolas,serif;font-weight:bold;">
    {# @linhaifeng {% if request.path == '/main' %} text-white {% else %}text-success{% endif %} this is really a magic operation!#}
                <li><a href="{% url "main" %}" class="nav-link px-5 {% if request.path == '/main' %} text-white {% else %}text-success{% endif %}">Main</a></li>
                <li><a href="{% url "manage_notes"%}" class="nav-link px-2  {% if request.path == '/manage_notes' %} text-white {% else %}text-success{% endif %}" >Manage</a></li>
                <li><a href="#" class="nav-link px-2 text-success">AI Review</a></li>
                <li><a href="{% url "ai_explore" %}" class="nav-link px-2 {% if request.path == '/llm/ai_explore' %} text-white {% else %}text-success{% endif %}">AI Explore</a></li>
                <li><a href="{% url "coding" %}" class="nav-link px-2 {% if request.path == '/codeforces/coding' %} text-white {% else %}text-success{% endif %}">Coding</a></li>
                <li><a href="{% url "manage_problems" %}" class="nav-link px-2 {% if request.path == '/codeforces/manage_problems' %} text-white {% else %}text-success{% endif %}">Codeforces</a></li>
            </ul>

            <a href="/codeforces/coding" style="margin-right: 24vw" class="nav col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <img src="{% static 'image/coding.png' %}" alt="" height="40" style="{% if request.path == '/codeforces/coding' %} background-color: #086abc{% endif %}">
            </a>

            <a href="/codeforces/add_problem" style="margin-right: 24vw" class="nav col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <img src="{% static 'image/add_problem.png' %}" alt="" height="25" style="{% if request.path == '/codeforces/add_problem' %} background-color: #086abc{% endif %}">
            </a>

            <a href="/record" class="nav col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <img src="{% static 'image/record1.png' %}" alt="" height="35" style="{% if request.path == '/record' %} background-color: #086abc{% endif %}">
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="{% static "image/logo2.png" %}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" style="">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="navbar-nav-scroll" style="min-height: 90vh;">
    <main class="mb-3 container p-3 rounded" style="width: 60.6vw;min-height: 87vh;background-color: #191818;">
    {% block main %}{% endblock %}
</main>
</div>
<script type="text/javascript">
  MathJax.Hub.Queue(["Typeset", MathJax.Hub, "mathjax-equation"]);
</script>
</body>
</html>