{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'highlight/github-dark.min.css' %}">
    <script src="{% static 'highlight/highlight.min.js' %}"></script>
    <style>
        .sidebar {
            font-family: 'Arial', sans-serif;
            background-color: #191717;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 40px;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .sidebar a {
            text-decoration: none;
            color: #c3b8b8;
            font-weight: bold;
        }

        .sidebar a:hover {
            color: #007bff;
        }

        .sidebar ul ul {
            margin-left: 15px;
            margin-top: 10px;
        }

        .sidebar ul ul ul {
            margin-left: 35px;
        }
        a {
            text-decoration:none;
        }
        .diy-image {
            text-align: center;
            width: 50vw;
            height: auto;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="p-7 rounded" style="color:#bcb9b9;background-color: #191818;">
        <div class="text-success">
            <h1 style="text-align: center;font-family: Consolas,serif;font-weight:bold">{{ note.title }}</h1>
        </div>
        <hr>
        <div class="py-2" style="text-decoration: none;">
            {{ note.content|safe }}
        </div>
        <script>
            hljs.highlightAll();
        </script>
    </div>
    <div class="sidebar" style="position: fixed;right:4vw;top:9.9vh;min-width: 12vw;">
        {{ toc|safe }}
    </div>
{% endblock %}